{% extends "input_site/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
    <h1>About</h1>
{% endblock page_header %}

{% block content %}
    <p>mindyourmind exists in the space where mental health, wellness, engagement and 
        technology meet. We work with young people aged 14 to 29 to co-create interactive 
        tools and innovative resources to build capacity and resilience.</p>
    <br></br>

    <p>Nearly half of all youth have suffered from some sort of mental illness in their lives. This trend is only growing so it is 
        we strive to help reverse this problem. 
    </p>
    <br></br>
    <p>mindyourmind discussions is a platform that enables users to discuss issues and possible
        solutions in an open setting. To contribute to the conversation, create an account.
    </p>

    <br></br>
    <h3>FAQ</h3>
    <h5>Why did we create mindyourmind discussions?</h5>
    <p>Mindyourmind discussions aims to make it easier for us to continue our philosiphy of having
        young people's input involved in our projects. Through easy and open discussions, we create an enviornment
        that allows for collaberation, critical thinking, and most importantly, problem solving.
    </p>
    <li>an estimated 50% of youth have struggled with some form of mental illness in their lives</li>
    <li>Schools that don't take mental health of students seriously result in being one of the biggest causes for anxiety and deppression in adolesents</li>
    <br></br>
    <br></br>
    <a href="https://mindyourmind.ca/">The offical mindyourmind website</a>


{% endblock content %}